<form>
    <div id="EBContainers">
        <fieldset class="group-container ally-container">
            <legend class='group-legend'>Allies</legend>
            <div class="group-field ally-field">
                {{#each allies}}
                    <div class='actor-container'>
                        <img class="actor-portrait" src="{{this.img}}" title="{{this.name}}" id="{{this.id}}"/>
                        <div class="actor-subtract">
                            <i class="fas fa-minus" title="{{this.name}}" id="{{this.id}}"></i>
                        </div>
                    </div>
                {{/each}}
            </div>
        </fieldset>

        <div class="center-container">
            <div class="difficulty-rating">
            </div>
            <div class="difficulty-threshold">
                Test value: {{test}}<br>
                {{#with calced}}
                <label>Ally total HP: {{allies.hp}}</label><br>
                <label>Opponents total HP: {{opponents.hp}}</label><br>
                <label>Ally average AC: {{allies.avg_ac}}</label><br>
                <label>Opponents average AC: {{opponents.avg_ac}}</label><br>
                <label>Ally weighted AC: {{allies.weighted_ac}}</label><br>
                <label>Opponents weighted AC: {{opponents.weighted_ac}}</label><br>
                {{/with}}
            </div>
            <div class="daily-budget">
            </div>
        </div>

        <fieldset class="group-container opponent-container">
            <legend class='group-legend'>Opponents</legend>
            <div class="group-field opponent-field">
                {{#each opponents}}
                    <div class='actor-container'>
                        <img class='actor-portrait' src="{{this.img}}" title="{{this.name}}" id="{{this.id}}"/>
                        <div class="actor-subtract">
                            <i class="fas fa-minus" title="{{this.name}}" id="{{this.id}}"></i>
                        </div>
                    </div>
                {{/each}}
            </div>
        </fieldset>
    </div>

    <div id="EBXP">
        <div class='scores'>
            {{#if selection}}
                {{#with selection}}
                    <h3>{{name}}</h3>
                    <em>HP:</em> {{hp}}<br>
                    <em>AC:</em> {{ac}}<br>
                    <h4>Attacks:</h4>
                    {{#each attacks}}
                        {{this.name}}: {{this.dpr}} DPR vs weighted AC<br>
                    {{/each}}
                {{/with}}
            {{/if}}
        </div>
        <button class='clear' type='button'>
            clear
        </button>
    </div>
</form>
