<form>
    <div id="EBContainers">
        <fieldset class="group-container ally-container">
            <legend class='group-legend'>Allies</legend>
            <div class="group-field ally-field">
                {{#each allies}}
                    <div class='actor-container'>
                        {{#ifActorSelected this "allies"}}
                            <img class="actor-portrait selected" src="{{this.img}}" title="{{this.name}}" id="{{this.id}}"/>
                        {{else}}
                            <img class="actor-portrait" src="{{this.img}}" title="{{this.name}}" id="{{this.id}}"/>
                        {{/ifActorSelected}}
                    </div>
                {{/each}}
            </div>
        </fieldset>

        <div class="center-container">
            <div class="difficulty-threshold">
                {{#with calced}}
                <table>
                    <tr><th>Squad</th><th>Allies</th><th>Opponents</th></tr>
                    <tr><td>Health Pool</td><td>{{allies.hp}}</td><td>{{opponents.hp}}</td></tr>
                    <tr><td>Average AC</td><td>{{allies.avg_ac}}</td><td>{{opponents.avg_ac}}</td></tr>
                    <tr><td>Weighted AC</td><td>{{allies.weighted_ac}}</td><td>{{opponents.weighted_ac}}</td></tr>
                    <tr><td>DPR</td><td>{{allies.dpr}}</td><td>{{opponents.dpr}}</td></tr>
                    <tr><td><strong>TTV</strong></td><td><strong>{{allies.ttv}}</strong></td><td><strong>{{opponents.ttv}}</strong></td></tr>
                </table>
                {{/with}}
            </div>
        </div>

        <fieldset class="group-container opponent-container">
            <legend class='group-legend'>Opponents</legend>
            <div class="group-field opponent-field">
                {{#each opponents}}
                    <div class='actor-container'>
                        {{#ifActorSelected this "opponents"}}
                            <img class='actor-portrait selected' src="{{this.img}}" title="{{this.name}}" id="{{this.id}}"/>
                        {{else}}
                            <img class='actor-portrait' src="{{this.img}}" title="{{this.name}}" id="{{this.id}}"/>
                        {{/ifActorSelected}}
                    </div>
                {{/each}}
            </div>
        </fieldset>
    </div>

    <div id="EBXP">
        <div class='scores'>
            {{#if selection}}
                {{#with selection}}
                    <h3>{{name}}</h3>
                    <em>HP:</em> {{hp}}<br>
                    <em>AC:</em> {{ac}}<br>
                    <table>
                        <tr><th>#</th><th>Attack/Cantrip</th><th>DPR</th></tr>
                        {{#each attacks}}
                        <tr><td><input type="text" class="attack-count" value="{{attackCount this}}"
                                       size="2" id="{{this._attack._id}}"></td>
                            <td>{{this.name}}</td><td>{{this.dpr}}</td</tr>
                        {{/each}}
                    </table>
                    {{#ifSelectionHasMultiattack}}
                        <h4>{{name}}</h4>
                        {{system.description.value}}
                    {{/ifSelectionHasMultiattack}}
                {{/with}}
            {{/if}}
        </div>
        <button class='remove-actor' type='button'>
            Remove
        </button>
    </div>
</form>
